<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.rt.omnichat_sdk_react">
    <application>
        <activity android:name=".MainActivity"
            android:label="Omnichat"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>